* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow: hidden;
  /* background-color: #F6BE00; */
  user-select: none;
}

.pointSection {
  display: relative;
  width: 50vw;
  height: 40svh;
  /* border: 1px solid black; */
  border-radius: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: calc(5vw + 5vh + 15px);
  flex-direction: column;
  color: #13284B;
  z-index: 1000;
}

.container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.img {
  width: calc(7vw + 7vh + 5px);
  height: calc(7vw + 7vh + 5px);
  opacity: 1;
}

.increase {
  /* color: green; */
  /* margin-right: 100px; */
  cursor: pointer;
}

.decrease {
  /* color: red */
  /* margin-left: 100px; */
  cursor: pointer;
}


.startBlock {
  position: absolute;
  width: 100vw;
  height: 100vh;
}

.startText {
  height: 100%;
  color: #13284B;
  font-size: calc(5vw + 5vh + 15px);
  transform: translateY(calc((-2.5vw - 2.5vh - 7.5px)));

  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 1000;

}

.bonusSection {
  margin-top: 40px;
  display: relative;
  width: 50vw;
  height: 40svh;
  /* border: 1px solid black; */
  border-radius: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: calc(5vw + 5vh + 15px);
  flex-direction: column;
  color: #13284B;
  z-index: 1000;
  padding: 10px;



}

.checkBox {
  display: inline-block;
  accent-color: #13284B;
  width: calc(1vw + 1vh + 10px);
  height: calc(1vw + 1vh + 10px);
  cursor: pointer;

}

.bonus {
  display: flex;
  font-size: calc(1vw + 1vh + 5px);
  padding: 10px;
  justify-content: center;
  align-items: center;
}

.label {
  margin: 10px;
}

.viewScore {
  margin-top: -20px;
  width: 100vw;
  /* height: 100%; */
  display: flex;
  justify-content: center;
  align-items: center;
  color: #13284B;
  font-size: calc(5vw + 5vh + 15px);
}